.header {
    margin: 10px auto;
}

.clear {
    margin: 0 46%;
}

.main {
    margin: 20px auto;
    display: grid;
    border: solid thin;
    width: 500px;
    height: 500px;
 /*   grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); */
}

.hover {
    background: black;
}
